@media screen and (min-width:992px) {
    .comment-wrapper{
        width: 70%;
    }
}


.comment-linkbtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .cmt-edit{
        margin-right: 10px;
    }
}    

.cmnt-info{
    width: 80%;
}
.content-box{
    padding: 0.5em 1em;
    margin: 1em 0;
    border: double 5px #ffe4b1;
    height: 300px;
}


