<% provide(:title, "口コミ投稿") %>
<div class="container">
    <div class="comment-new">
        <h3><i class="fas fa-comments"></i> 口コミを登録する</h3><br>
        <div class="comment-form">
            <%= render partial:'form', locals: {post: @post, community: @community, code: @code, comment: @comment} %>
        </div>
    </div>
</div>