<div class="container">
    <div class='mymenu-tabs row'>
        <%= link_to user_path(@user, tab_id: 1), class: "col-6 my-commutnity", remote: true do %>
            <span class="mymenu-text">所属コミュニティ</span>
        <% end %>
        <%= link_to user_path(@user, tab_id: 2), class: "col-6 public-commutnity", remote: true do %>
            <span class="mymenu-text">誰でもコミュニティ</span>
        <% end %>
    </div>
    <% @tab %>
    <br>
    <!-- コミュニティ一覧 START -->
    <div class="myuser-community row">
        <% if @tab || @tab == '2' %>
            <%= render(partial: 'users/pubcom', locals: {user: @user, community: @community}) %>
        <% else %>
            <%= render(partial: 'users/mycom', locals: {user: @user, belongings: @belongings}) %>
        <% end %>
    </div>
    <!-- コミュニティ一覧 END -->
</div>