<% provide(:title, "フォロー一覧") %>
<% breadcrumb :follower, @user %>
<%= breadcrumbs separator: " &rsaquo; " %>
<br>
<div class="container">
    <%= @user.username %>さんがフォローしているユーザー
    <% if @users.empty? %>
        <h4 class="mt-5">まだいません。</h4>
    <% else %>
        <%= render partial: 'users', locals: {users: @users} %>
    <% end %>
</div>
