<div class="follow">
    <div class="follow-count">
        <div class="follow-container">
            <span class="follow-label">フォロー</span><br>
            <%= user.follower.count %>
        </div>
        <div class="follower-container">
            <span class="follow-label">フォロワー</span><br>
            <%= user.followed.count %>
        </div>
    </div>
    <div class="follow-link">
        <% if user_signed_in? %>
            <% if current_user.id != user.id %>
                <% if current_user.following?(user) %>
                    <%= link_to 'フォロー中', unfollow_path(user.id), method: :post, remote: true, class: "unfollow-btn" %>
                <% else %>
                    <%= link_to 'フォロー', follow_path(user.id), method: :post, remote: true, class: "follow-btn" %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>