<footer class="app-title navbar navbar-expand-md navbar-light">
    <p class="navbar-brand  text-white">myfavrest<br>
    <span class="cpright">Copyright © MyFavRest Inc. All rights reserved</span></p>
    <span class="hotpepper"><a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" title="ホットペッパー Webサービス"></a>【画像提供：ホットペッパー グルメ】</span>
</footer>