<footer class="app-title navbar navbar-expand-md navbar-light">
    <p class="navbar-brand  text-white">myfavrest<br>
    <span class="cpright">Copyright © MyFavRest Inc. All rights reserved</span></p>
</footer>