<div id='address'>
  <p>住所：<%= post.address %></p>
  <div id="map" class="gmap-show"></div>
</div>
<script src="//maps.google.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);
  });
</script>