<div class="input-field col s12 m12 l4" style="padding-top: 50px;">
  <input id="address" class="controls" type="text" placeholder="店名を入れて住所検索">
  <div id="map" style="max-width: 500px; height: 300px;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initAutocomplete" async defer></script>
