.community-edit{
    margin: 0 auto;

    label{
        font-size: 0.7em;
    }
}

@media screen and (min-width:992px) {
    .community-edit{
        width: 40%;
    }
}

@media screen and (max-width:991px) {
    .community-edit{
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    .community-edit{
        width: 80%;
    }
}
