.community-show{
    .communitydtl{
        text-align: center;

        .community-img{
            margin-top: 10px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .community-linkbtn{
            display: flex;
            justify-content: center;
            margin: 10px 0px;
        
            .community-delete-btn{
                margin-left: 10px;
            }
        }

        .admin{
            font-size: 0.7em;
            color: red;
        }

        .belong-username{
            font-size: 0.7em;
        }

    }

    // 検索フォーム START
    .searchform{
        border: solid 1px #d3d3d3;
        box-shadow: 0 0 8px gray;
        margin-bottom: 20px;
        height: 120px;
        padding: 10px 10px;
    
        .sbtn{
        cursor: pointer;
        font-family: FontAwesome;
        background: #3879D9;
        color: white;
        width: 80px;
        }
    }
    // 検索フォーム END

}