<!-- Title -->
<div class="home-title">
    <div class="container text-center">
        <h1 class="mb-1 top-h1"><strong>グルコミュ</strong></h1>
        <h3 class="mb-5">
            <strong>グループで見つかる、あなたらしいお店</strong>
        </h3>
    </div>
</div>

<!-- Services -->
<div class="content-services bk-color text-center">
    <div class="container">
        <div class="content-services-heading">
            <h3 class="txt-secondary mb-0">Services</h3>
            <h2 class="mb-5">「自分が本当に行きたいお店」を見つけよう</h2>
        </div>
        <div class="row">

            <div class="service-detail col-md-4 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mb-3 mx-auto">
                    <i class="fas fa-users icon-1" aria-hidden="true"></i>
                </span>
                <h4>
                    <strong>グループでつながる</strong>
                </h4>
                <p class="text-faded text-left mb-0">公開/非公開のグループを作り、投稿を共有し合えます。食を通じて身近な仲間や新しい友人と交流できます。</p>
            </div>

            <div class="service-detail col-md-4 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mb-3 mx-auto">
                    <i class="fas fa-edit icon-2" aria-hidden="true"></i>
                </span>
                <h4>
                    <strong>お店や口コミを投稿する</strong>
                </h4>
                <p class="text-faded text-left mb-0">お気に入りのお店情報や口コミを投稿できます。投稿したユーザーのみ編集・削除が可能です。</p>
            </div>

            <div class="service-detail col-md-4 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mb-3 mx-auto">
                    <i class="fa fa-check icon-2" aria-hidden="true"></i>
                </span>
                <h4>
                    <strong>お店情報や口コミを見る</strong>
                </h4>
                <p class="text-faded text-left mb-0">過去に投稿されたお店情報や口コミを表示することができます。お店情報にはいいね！や口コミをすることができます。</p>
            </div>
        </div>
    </div>
</div>
