<div class="home-top">
    <h1>myfavrest をはじめよう</h1>
    <br>
    <p>自分が行った飲食店の口コミを投稿できるアプリです。<br>
       その人の興味や働いている会社・業界、所属している学校などの種類も見ることができ、<br>
       自分に近い人の感想を知ることができます。<br>
       新しい飲食店を開拓しましょう。
    </p>
</div>