/////////////////////////
/******テキスト関連*******/
/////////////////////////

/* アンダーラインなし */
.text-line-none{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
}

.right{
  margin: 0 0 0 auto;
  width: 60px;
}

/////////////////////////
/******フォント関連*******/
/////////////////////////

/* 太字 */
.font-bold{
  font-weight: 600;
}

/* フォントサイズ：0.75em */
.font-size-mid{
  font-size: 0.75em;
}

/* フォントサイズ：0.5em */
.font-size-mini{
  font-size: 0.5em;
}

/* 項目名縮小：0.75em グレー */
.mini-item-name-gray{
  font-size: 0.75em;
  color: #808080;
}

.text-color-white{
  color: white;
}

/////////////////////////
/******位置関連*********/
/////////////////////////
/* 縦位置が中央 */
.m-auto0{
  margin: auto 0;
}

/* 中央寄せ */
.t-center{
  text-align: center;
}

/////////////////////////
/******ボタン関連*********/
/////////////////////////

/* フォローするボタン */
.follow-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: #039be5;
  background-color: white;
  border:1px solid #039be5;
  font-size: 12px;
  &:hover{
    text-decoration: none;
    background-color: #039be5;
    color: white;
  }
}

/* フォロー中ボタン */
.unfollow-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #039be5;
  border:1px solid #039be5;
  font-size: 12px;
  &:hover{
    text-decoration: none;
    background-color: white;
    color: #039be5;
  }
}

/* 新規登録ボタン */
.new-btn {
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background-color: #ffa600;
  color: white;
  text-align: center;
  bottom: 32px;
  right: 32px;
  width: 120px;
  height: 120px;
  font-size: 1.2em;
  padding-top: 46px;

  &:hover {
  text-decoration: none;
  background-color: #ffa666;
  color: white;
  }
}

/* 緑色ボタン */
.green-btn{
    @include btn-set(80px, 30px);
    display: inline-block;
    color: white;
    background-color: #4ba53a;
    border:1px solid #4ba53a;
    font-size: 12px;
    cursor: default;
  }

  /* ミニ緑色リンクボタン */
.mini-green-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #4ba53a;
    border:1px solid #4ba53a;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #4ba53a;
    }
  }

/* ミニ赤色リンクボタン */
.mini-red-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #d30000;
    border:1px solid #d30000;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #d30000;
    }  
}

/* ミニオレンジ色リンクボタン */
.mini-orange-link-btn{
  @include btn-set(60px, 20px);
  display: inline-block;
  background-color: #e59703;
  border:1px solid #e59703;
  color: #fff;
  font-size: 12px;
}

/* 必須マーク */
.must{
	background: #FF1A00;
	color: #FFF;
	border-radius: 3px;
	font-size: 0.5em;
	margin-right: 5px;
	padding: 3px 4px;
	letter-spacing: 0.2em;
}

/* 評価マーク */
.rating-title{
  @include height_width(200px, 200px);
  padding: 5px 15px;
  background-color: #039be5;
  color: #fff;
  border-radius: 20px;
}

/////////////////////////
/******料理ジャンル*******/
/////////////////////////
/* codeマスタのcodeカラムの値に紐づく */
.rest-type-1{
  background-color: orange;
}

.rest-type-2{
  background-color: green;
}

.rest-type-3{
  background-color: blue;
}

.rest-type-4{
  background-color: red;
}

.rest-type-5{
  background-color: #65ace4;
}

.rest-type-6{
  background-color: #a0c238;
}

.rest-type-7{
  background-color: #56a764;
}

.rest-type-8{
  background-color: #d06d8c;
}

.rest-type-9{
  background-color: #0074bf;
}

.rest-type-10{
  background-color: #f2cf01;
}

.rest-type-11{
  background-color: #9460a0;
}

.rest-type-12{
  background-color: #fff001;
}

.rest-type-13{
  background-color: #c4a6ca;
}

.rest-type-14{
  background-color: #b88b26;
}

.rest-type-15{
  background-color: #6d1782;
}

.rest-type-16{
  background-color: #5f556e;
}

/////////////////////////
/******画像関連*******/
/////////////////////////
/* ユーザアイコン */
.user-icon{
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

//////////////////////////////
/******エラーメッセージ*******/
//////////////////////////////
div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}
