/////////////////////////
/******テキスト関連*******/
/////////////////////////

/* アンダーラインなし */
.text-line-none{
    text-decoration: none;
  }

/////////////////////////
/******フォント関連*******/
/////////////////////////

  /* 太字 */
  .font-bold{
    font-weight: 600;
  }


/////////////////////////
/******ボタン関連*********/
/////////////////////////


/* ミニ緑色リンクボタン */
.mini-green-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #4ba53a;
    border:1px solid #4ba53a;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #4ba53a;
    }
  }

/* ミニ赤色リンクボタン */
.mini-red-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #d30000;
    border:1px solid #d30000;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #d30000;
    }  
}

/* ミニオレンジ色リンクボタン */
.mini-orange-link-btn{
  @include btn-set(60px, 20px);
  display: inline-block;
  background-color: #e59703;
  border:1px solid #e59703;
  color: #fff;
  font-size: 12px;
}

