/////////////////////////
/******テキスト関連*******/
/////////////////////////

/* アンダーラインなし */
.text-line-none{
    text-decoration: none;
  }

  .right{
    margin: 0 0 0 auto;
    width: 60px;
  }

/////////////////////////
/******フォント関連*******/
/////////////////////////

  /* 太字 */
  .font-bold{
    font-weight: 600;
  }

  /* フォントサイズ：0.75em */
  .font-size-mini{
    font-size: 0.5em;
  }


/////////////////////////
/******ボタン関連*********/
/////////////////////////

/* フォローするボタン */
.follow-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: #039be5;
  background-color: white;
  border:1px solid #039be5;
  font-size: 12px;
  &:hover{
    text-decoration: none;
    background-color: #039be5;
    color: white;
  }
}

/* フォロー外すボタン */
.unfollow-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #039be5;
  border:1px solid #039be5;
  font-size: 12px;
  &:hover{
    text-decoration: none;
    background-color: white;
    color: #039be5;
  }
}

/* 新規登録ボタン */
.new-btn {
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background-color: #ffa600;
  color: white;
  text-align: center;
  bottom: 32px;
  right: 32px;
  width: 120px;
  height: 120px;
  font-size: 1.2em;
  padding-top: 46px;

  &:hover {
  text-decoration: none;
  background-color: #ffa666;
  color: white;
  }
}

/* ミニ緑色リンクボタン */
.mini-green-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #4ba53a;
    border:1px solid #4ba53a;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #4ba53a;
    }
  }

/* ミニ赤色リンクボタン */
.mini-red-link-btn{
    @include btn-set(60px, 20px);
    display: inline-block;
    color: #d30000;
    border:1px solid #d30000;
    font-size: 12px;
    &:hover{
      color: white;
      background-color: #d30000;
    }  
}

/* ミニオレンジ色リンクボタン */
.mini-orange-link-btn{
  @include btn-set(60px, 20px);
  display: inline-block;
  background-color: #e59703;
  border:1px solid #e59703;
  color: #fff;
  font-size: 12px;
}


/////////////////////////
/******画像関連*******/
/////////////////////////
.user-icon{
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

