<div class="container">
    <div class="post-new">
        <h3><i class="fas fa-utensils"></i> お店を登録する</h3><br>
        <div class="post-form">
            <%= render partial:'form', locals:{post: @post, code: @code, community: @community} %>
        </div>
    </div>
</div>