// 検索フォーム START
.searchform{
  border: solid 1px #d3d3d3;
  box-shadow: 0 0 8px gray;
  margin-bottom:20px;
  height: 100px;
  padding: 10px 10px;

  .sbtn{
    cursor: pointer;
    font-family: FontAwesome;
    background: #3879D9;
    color: white;
    width: 80px;
  }
}
// 検索フォーム END

// 店一覧 START

.card-icons{
  list-style: none;
}
// 店一覧 END