@import "bootstrap";
@import "toastr";

@import "./modules/mixin";
@import "./modules/common";

@import "home.scss";

@import "./shared/follow";
@import "./shared/comments";
@import "./shared/communities";
@import "./shared/error_explanation";
@import "./shared/footer";
@import "./shared/like";
@import "./shared/posts";

@import "./users/index";
@import "./users/show";
@import "./users/mymenu";
@import "./users/users";

@import "./devise/registrations/new";
@import "./devise/registrations/edit";
@import "./devise/sessions/new";

@import "./posts/index";
@import "./posts/new";
@import "./posts/show";
@import "./posts/edit";

@import "./comments/new";
@import "./comments/show";
@import "./comments/edit";

@import "./communities/index";
@import "./communities/new";
@import "./communities/show";
@import "./communities/edit";

@import "./applies/index";

@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

body{
    font-family: "Font Awesome 5 Free";
    width: 100%;
    height: 100%;
}

.wrapper{
    min-height: 100vh;/*①高さの最小値*/
    position: relative;/*②相対位置*/
}

.app-title a{
    text-decoration: none;
}

.push {
    height: 200px;/*フッターと同じ高さに指定*/
}

header {
    .loginstauts{
        .loginuser-name{
            color: white;
        }
        a:link,a:visited{
                color: #afafb0;
            }
            a:hover{
                color: white;
                font-weight: bold;
            }
    }
}
