<div class="container">
    <div class="community-edit">
        <h3><i class="fas fa-users"></i> コミュニティ情報を編集する</h3><br>
        <div class="community-form">
            <%= render partial:'form', locals:{community: @community, code: @code} %>
        </div>
    </div>
</div>