<div class="container">
    <div class="community-new">
        <h3><i class="fas fa-users"></i> 新規コミュニティを作成する</h3><br>
        <div class="community-form">
            <%= render partial:'form', locals:{community: @community, code: @code} %>
        </div>
    </div>
</div>