.mypage-wrapper{

    width: 70%;

    .my-user-icon{
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .my-detail{
        border: solid 1px #d3d3d3;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
        padding: 30px;
    }

    .status-name{
        font-size: 0.75em;
    }
    
    .mymenu-tabs{
        height: 40px;
        width: 100%;
        border: 1px solid #35357d;
    
        .tab-on{
            background-color: #35357d;
            color: white;
            text-align: center;
            height: 100%;
            &:hover{
                text-decoration: none;
            }
        }
        .tab-off{
            background-color:white;
            color: #35357d;
            text-align: center;
            height: 100%;
            &:hover{
                text-decoration: none;
            }
        }
        .mymenu-text{
            vertical-align: middle;
            line-height: 40px;
        }
    
    }

}
